<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<context:annotation-config />

	<bean id="stricken" class="stricken.Stricken">
		<property name="windowTitle" value="Stricken" />
		<property name="windowSize" ref="windowSize" />
		<property name="mainMenu" ref="mainMenu" />
		<property name="systemMenu" ref="systemMenu" />
		<property name="youDiedScreen" ref="youDiedScreen" />
		<property name="youWinScreen" ref="youWinScreen" />
		<property name="gameBoard" ref="board" />
		<property name="gameInterface" ref="gameInterface" />
		<property name="inGameMenuLayer" ref="inGameMenuLayer" />
		<property name="critterMenuFactory" ref="critterMenuFactory" />
		<property name="startGameBoardId" value="goStraight" />
		<property name="critterListPane" ref="critterListPane" />
	</bean>

	<bean id="windowSize" class="java.awt.Dimension">
		<constructor-arg value="384" />
		<constructor-arg value="320" />
	</bean>
	<bean id="spriteSize" class="java.awt.Dimension">
		<constructor-arg value="32" />
		<constructor-arg value="32" />
	</bean>

	<bean id="mainMenu" class="stricken.ui.menu.Menu">
		<constructor-arg ref="stricken" />
		<constructor-arg>
			<list>
				<bean class="stricken.ui.menu.EventMenuItem">
					<constructor-arg ref="stricken" />
					<constructor-arg value="Start game" />
					<constructor-arg>
						<util:constant static-field="stricken.event.Event.START_GAME" />
					</constructor-arg>
				</bean>
				<bean class="stricken.ui.menu.EventMenuItem">
					<constructor-arg ref="stricken" />
					<constructor-arg value="Exit" />
					<constructor-arg>
						<util:constant static-field="stricken.event.Event.EXIT" />
					</constructor-arg>
				</bean>
			</list>
		</constructor-arg>
	</bean>

	<bean id="systemMenu" class="stricken.ui.menu.Menu">
		<constructor-arg ref="stricken" />
		<constructor-arg>
			<list>
				<bean class="stricken.ui.menu.EventMenuItem">
					<constructor-arg ref="stricken" />
					<constructor-arg value="Return to game" />
					<constructor-arg>
						<util:constant static-field="stricken.event.Event.RETURN_TO_GAME" />
					</constructor-arg>
				</bean>
				<bean class="stricken.ui.menu.EventMenuItem">
					<constructor-arg ref="stricken" />
					<constructor-arg value="Main menu" />
					<constructor-arg>
						<util:constant static-field="stricken.event.Event.SHOW_MAIN_MENU" />
					</constructor-arg>
				</bean>
			</list>
		</constructor-arg>
	</bean>

	<bean id="youDiedScreen" class="stricken.ui.menu.Menu">
		<constructor-arg ref="stricken" />
		<constructor-arg>
			<list>
				<bean class="stricken.ui.menu.EventMenuItem">
					<constructor-arg ref="stricken" />
					<constructor-arg value="You died" />
					<constructor-arg>
						<util:constant static-field="stricken.event.Event.SHOW_MAIN_MENU" />
					</constructor-arg>
				</bean>
			</list>
		</constructor-arg>
	</bean>

	<bean id="youWinScreen" class="stricken.ui.menu.Menu">
		<constructor-arg ref="stricken" />
		<constructor-arg>
			<list>
				<bean class="stricken.ui.menu.EventMenuItem">
					<constructor-arg ref="stricken" />
					<constructor-arg value="You win!" />
					<constructor-arg>
						<util:constant static-field="stricken.event.Event.SHOW_MAIN_MENU" />
					</constructor-arg>
				</bean>
			</list>
		</constructor-arg>
	</bean>

	<bean id="gameInterface" class="stricken.ui.GameInterface">
		<constructor-arg ref="gameScreen" />
		<constructor-arg ref="critterListPane" />
		<constructor-arg ref="spriteSize" />
		<constructor-arg value="0.9" />
	</bean>
	
	<bean id="critterListPane" class="stricken.ui.CritterListPane" />

	<bean id="gameScreen" class="stricken.ui.GameScreen">
		<constructor-arg>
			<list>
				<ref bean="board" />
				<ref bean="infoLayer" />
				<ref bean="dialogLayer" />
				<ref bean="inGameMenuLayer" />
			</list>
		</constructor-arg>
	</bean>

	<bean id="board" class="stricken.board.GameBoard">
		<constructor-arg ref="stricken" />
		<property name="spriteSize" ref="spriteSize" />
		<property name="boardDefinitionFactory" ref="boardDefinitionFactory" />
		<property name="tileFactory" ref="tileFactory" />
		<property name="decorationFactory" ref="decorationFactory" />
	</bean>

	<bean id="objectMapper" class="org.codehaus.jackson.map.ObjectMapper" />

	<bean id="tileFactory" class="stricken.board.piece.TileFactory">
		<constructor-arg value="classpath:/spritesheets/tile.png" />
		<constructor-arg value="classpath:/pieces/tile.json" />
		<constructor-arg ref="objectMapper" />
		<constructor-arg ref="spriteSize" />
	</bean>

	<bean id="decorationFactory" class="stricken.board.piece.DecorationFactory">
		<constructor-arg value="classpath:/spritesheets/decoration.png" />
		<constructor-arg value="classpath:/pieces/decoration.json" />
		<constructor-arg ref="objectMapper" />
		<constructor-arg ref="spriteSize" />
	</bean>

	<bean id="boardDefinitionFactory" class="stricken.board.loader.BoardDefinitionFactory">
		<property name="objectMapper" ref="objectMapper" />
	</bean>

	<bean id="infoLayer" class="stricken.ui.InfoLayer" />
	<bean id="dialogLayer" class="stricken.ui.DialogLayer" />
	<bean id="inGameMenuLayer" class="stricken.ui.InGameMenuLayer" />

	<bean id="critterMenuFactory" class="stricken.ui.menu.CritterMenuFactory">
		<constructor-arg ref="stricken" />
		<property name="critterActionFactory" ref="critterActionFactory" />
	</bean>

	<bean id="critterActionFactory" class="stricken.board.piece.CritterActionFactory">
		<constructor-arg ref="stricken" />
		<constructor-arg value="classpath:actions.xml" />
	</bean>

</beans>
